@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  font-family: 'Vazirmatn', 'Tahoma', sans-serif;
}

.chart-container {
  position: relative;
  height: 250px;
}

.ltr-num {
  direction: ltr;
  text-align: right;
}
